#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  white-space: pre-wrap;
  height: 100%;
  min-width: 400px;
  min-height: 600px;
}

.row {
  display: flex;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gap-xl {
  gap: 2rem;
}
